.vs/
.vscode/
*.code-workspace
*.suo
*.user
*.userosscache
*.sln.docstates

# Pliki binarne i tymczasowe
*.exe
*.dll
*.obj
*.pdb
*.idb
*.class
*.ipch
*.aps
*.pch
*.ilk
*.sbr
*.layout
*.ipdb
*.tlog
*.log
*.tmp
*.tmp_proj
*.sdf
*.opendb

# Foldery tymczasowe i build
Debug/
Release/
x64/
x86/
[Aa][Rr][Mm]/
build/

# Pliki konfiguracyjne Visual Studio
*.opensdf
*.vcxproj.*
*.filters
*.VC.db
*.VC.opendb

# Pliki generowane przez CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeLists.txt.user

# Inne pliki i foldery
*.ncb
*.aps
*.obj
*.idb
*.ilk
*.pch
*.ipch
*.dmp
*.exp
*.lib
*.o
*.lst
*.map
*.manifest
*.pgc
*.pgd
*.rsp
*.sbr
*.unsuccessfulbuild
*.unsuccessful_build
*.blg
*.bsc
*.csv
*.gen
*.pgm
*.opendb
*.tlog
*.rsrc.res
*.tlb
*.tli
*.tlh